.contacts__wrapper {
  max-width: 585px;
  margin-right: auto;
  padding: 56px 0 48px 120px;

  @include vp-1199 {
    max-width: 100%;
    padding: 61px 103px 43px 133px;
  }

  @include vp-767 {
    padding: 63px 15px 43px;
  }

  h2 {
    font-family: $ff-alumni-sans;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0 0 38px;
    text-align: left;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      font-weight: 600;
      margin: 0 0 32px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      margin: 0 0 34px;
    }
  }
}

.contacts__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  margin: 0;
  padding: 0 0 0 3px;
  list-style-type: none;

  @include vp-1199 {
    column-gap: 96px;
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  &::after {
    position: absolute;
    content: "";
    left: 234px;
    top: 5px;
    bottom: 22px;
    width: 1px;
    background-color: $color-light-slate-blue;

    @include vp-1199 {
      left: 50%;
    }

    @include vp-767 {
      display: none;
    }
  }

  li {
    margin-bottom: 15px;

    @include vp-1199 {
      margin-bottom: 18px;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 2px;
    text-align: left;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 7px;
    }

    @include vp-767 {
      margin: 0 0 5px;
    }
  }

  address,
  a,
  span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: left;
    text-decoration: none;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
    }
  }
}

.contacts__item {
  @include vp-767 {
    grid-row: 2 / 3;
  }
}
