.form {
  background-color: $color-sapphire;
}

.form__wrapper {
  max-width: 580px;
  margin-left: auto;
  padding: 65px 170px 70px 0;

  @include vp-1199 {
    max-width: 100%;
    padding: 61px 163px 70px 133px;
  }

  @include vp-767 {
    padding: 63px 15px 70px 15px;
  }

  h2 {
    font-family: $ff-alumni-sans;
    font-size: 54px;
    line-height: 64px;
    font-weight: 800;
    color: $color-default-white;
    letter-spacing: 0.03em;
    margin: 0 0 33px;
    text-align: left;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      font-weight: 700;
      margin: 0 0 38px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      margin: 0 0 40px;
    }
  }
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 46px;
    margin-bottom: 42px;
  }
}

.form__input {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-default-white;
  margin-bottom: 35px;

  @include vp-767 {
    margin-bottom: 0;
  }

  input {
    width: 100%;
    padding: 0;
    color: $color-default-white;
    background-color: $color-sapphire;
    border: 0;
    outline: none;

    @include hover-focus {
      opacity: 0.8;

      &.focus-visible:focus {
        outline: 1px solid $color-default-white;
        outline-offset: 2px;
      }
    }
  }

  input::placeholder {
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;
  }

  @include vp-1023 {
    padding-left: 0;
  }

  label {
    position: relative;
    display: block;

    &.is-invalid {
      outline: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        outline: 2px solid rgba($color-torch-red, 0.5);
      }
    }
  }
}

.input-message {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 12px;
  line-height: 15px;

  &.is-invalid {
    color: $color-torch-red;
  }

  &.is-valid {
    color: $color-neon-blue;
  }

  @include vp-1023 {
    top: -19px;
  }
}

.form__button {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $color-default-white;
  padding: 16px;
  text-align: center;
  border: 3px solid $color-default-white;

  @include hover-focus {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &.focus-visible:focus {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }
}
