.tabs {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
}

.tabs__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.tabs__control {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &:not(:last-child) {
    margin-right: 46px;

    @include vp-1199 {
      margin-right: 54px;
    }

    @include vp-767 {
      margin-right: 45px;
    }
  }

  @include hover-focus {
    color: $color-sapphire;
  }

  &.is-active {
    color: $color-sapphire;
    opacity: 1;
  }

  &.is-active::after {
    opacity: 1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-crimson;
    left: 0;
    bottom: -2px;
    opacity: 0;
  }
}

.tabs__content {
  margin-top: 38px;
  transition: height 0.3s;

  @include vp-1199 {
    margin-top: 44px;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.tabs__element {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 0 118px;
    column-gap: 0;
    row-gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 35px;
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 69px 60px;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;

  @include vp-1199 {
    padding: 56px 110px 60px;
  }

  @include vp-767 {
    padding: 44px 34px 47px;
  }

  &:hover,
  &:focus-within {
    border-image: $red-to-blue-border;
    border-image-slice: 1;
  }

  &:hover a,
  &:focus-within a {
    background-image: $red-to-blue;
    outline: none;
    color: $color-default-white;
  }

  h3 {
    font-size: 26px;
    line-height: 29px;
    font-weight: 700;
    margin: 0 0 11px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 9px;
    }
  }

  h4 {
    font-weight: 400;
    margin: 0 0 64px;

    @include vp-767 {
      margin: 0 0 54px;
    }
  }

  span {
    position: absolute;
    top: -53px;
    left: -19px;
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    color: $color-whisper;
    opacity: 0.48;
    margin: 0;

    @include vp-767 {
      top: -44px;
      left: -16px;
      font-size: 80px;
      line-height: 120px;
    }
  }

  p {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: $color-egyptian-blue;
    margin: 0 14px 0 0;
    z-index: 1;

    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
      margin: 0 10px 0 0;
    }
  }
}

.tabs__price {
  position: relative;
  display: flex;
  margin: 0 0 34px;
  align-items: center;

  @include vp-767 {
    margin: 0 0 30px;
  }

  svg {
    z-index: 1;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.tabs__btn {
  width: 100%;
  outline: 2px solid $color-sapphire;
  outline-offset: -2px;
}
